# gitignore file for a SolidWorks project

# SolidWorks temporary files
~$*.sldprt
~$*.sldasm
~$*.slddrw
~$*.sld

# For systems with case-sensitive (SolidWorks uses both)
~$*.SLDPRT
~$*.SLDASM
~$*.SLDDRW
~$*.SLD

# SolidWorks backups and auto-recovery
*.bak
*.swbak

# Cache of simulation results
/simulation_results/

# EAGLE backups and locks
*.b#?
*.s#?
*.l#?
*.b$?
*.s$?
*.l$?
eagle.epf
eagle.epf.lck
*.lck

# Office temp files
~$*.docx
~$*.pptx
~$*.xlsx

# OS cruft
.DS_Store
._*
Thumbs.db
ehthumbs.db
desktop.ini
